
body {
  font: 10px sans-serif;
  //background-image: url("http://thepaperwall.com/wallpapers/vintage_historical/big/big_f0868392cad10266a59e8f65aca0bca2cd625c26.jpg");
  background: url(/static/images/ricepaper2.png); 
  background-repeat: repeat; 
}

svg {
  padding: 10px 130px;
}

.arc {
  stroke: #fff;
}

#leftFrame {
    font-family: 'Port Lligat Sans', sans-serif;
    font-size: 20px;
    postion:relative;
    float:left;
    height:250px;
    width:250px;     
}

#mainFrame {
  margin: 0px auto;
  overflow:auto;
}
 

.candidate {
    color: #666;
    font-size: 28px;
    font-family: 'Monsieur La Doulaise', cursive;
    //font-family: 'Great Vibes', cursive;
        -webkit-font-smoothing: antialiased;
}

.republican {
    text-align:right;
}

.pie  .bold {
    color: #000;
    -webkit-font-smoothing: subpixel-antialiased;
}

.term {
    font-size: 14px;
    display: block;
    color: green;
    font-family: 'Port Lligat Sans', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

.year {
    font-size: 20px;
    //font-family: 'Port Lligat Sans', sans-serif;
    font-family: 'Great Vibes', cursive;
}
